Flask==3.0.3
flask-cors==4.0.0
gspread==6.1.2
google-auth==2.29.0
google-auth-oauthlib==1.2.0
google-auth-httplib2==0.2.0
python-dotenv==1.0.1
gunicorn==22.0.0
requests==2.31.0
facebook-business==20.0.3
google-ads==22.1.0
grpcio==1.62.3
grpcio-status==1.62.3
protobuf==4.25.8
psycopg2-binary==2.9.9
